/src
/.github
/.vscode
/node_modules
/.devcontainer.json
/.eslintrc.json
/.gitignore
/.prettierignore
/.prettierrc.json
/codecov.yml
/*.code-*
/*.md
/scripts
/tsconfig.json
/tsconfig.node.json
/vite.config.ts
/index.html
