eslint.config.js export-ignore
**/.* export-ignore
**/*.json export-ignore
**/*.yaml export-ignore
**/*.yml export-ignore
**/*.toml export-ignore
**/*.code-* export-ignore
**/*.md export-ignore
scripts export-ignore
