name: Main

on:
  push:
  pull_request:
  issues:
  issue_comment:
  workflow_dispatch:

jobs:
  main:
    uses: ocadotechnology/codeforlife-workspace/.github/workflows/frontend.yaml@main
    secrets: inherit
    with:
      download-branch: workspace-278 # TODO: delete
